**/__pycache__/
**/*.ipynb_checkpoints
**/checkpoints
**/.DS_Store
**/wandb
**/train_logs
**/slurm-*.out

*.pth
# EMOTIC_pretrained_img_extractor_weight; for github release
!/trained_models/EMOTIC_pretrained_img_extractor_weight/best_model.pth
!/trained_models/EMOTIC_pretrained_img_extractor_weight/last_model.pth

src/evals
src/evals-*
/checkpoints
/train_logs
/fsx
fsx
playgrounds/*
data/*

scripts2/